* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f5f5f5;
    --text-color: #333;
    --header-bg: white;
    --col1-c:#333;
    --price:red;
    --old-price:#3a3a3a;
    --title-c:#3a3a3a;
    --card-bg: rgba(255, 248, 235, 0.9);
    --grid-card-bg: #ffff;
    --footer-bg: rgb(255, 255, 255);
    --footer-text: #666;
    --link-color: black;
    --link-hover: blue;
    --logo-color: #333;
    --sidebar-bg: black;
    --navlinks-bg:#333;
}
body {
    margin: 0;
    transition: 0.5s;  
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px ;
    z-index: 1000;
    background: var(--header-bg);
    /* background: white; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--logo-color);
    /* color: #333;  */
    display: flex;
    align-items: center;
     
}
.logo img{height:  50px;
    width: auto;

}

/* Navigation */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--navlinks-bg);
    /* color: #333; */
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #d6a500;
}
.icons{
    display: flex;
    align-items: center;
}

/* Icons */
.icons i {
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}
.icons i:hover{
    color: #d6a500;
}

.menu-icon {
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.sidebar {
    position: absolute;
    left: -250px;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--sidebar-bg);
    
    display: none;
    /* color: white; */
    padding-top: 50px;
    transition: 0.5s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#menu-toggle {
    display: none;
}
#menu-toggle:checked + .sidebar {
    display: inline-block;
    left: 0;
}


.overlay-hamburger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}


#menu-toggle:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
}

.col1 {
    width:100%;
    height: auto;
    background-image: url('images/bg1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 0px;
    padding: 80px 0px ;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    overflow: hidden;
}
.text_center{
    text-align: center;
}
.col1 h2 {
    color: #9C742A;
    margin: 10px 0;
}

.col1 p {
    font-size: 1rem;
    color: var(--col1-c);
}

.col1 img{
    height: 100%;
    width: auto;
}
.card{
    background-color: var(--card-bg);
    padding: 50px;
    border-radius: 10px;
    max-width: 350px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.3);
    margin-top: 70px;
    margin-right: 20px;
   
}
.col2 {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;  
}

.category {
    text-align: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.category::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    transition: top 0.4s ease-in-out;
    }

.category:hover:before {
    top: 0; 
}
.category img {
    width: 100%; 
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 10px;
}
.category p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.col {
    width: 32%;
    height: 150px;
    background: #ddd;
    border-radius: 10px;
    background-image: url(images/dining.png);
    background-size: cover;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    padding:20px;
    gap: 10px;
   
}

.grid-card{
    position: relative;
    background-color: var(--grid-card-bg);
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(16, 1, 1, 0.3);
    overflow: hidden;
    
}
.grid-card img{
    
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
}
.grid-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
    gap: 15px;
}
.grid-card:hover .overlay{
    opacity: 1;
}
.grid-card:hover img{
    transform: scale(1.1);
}
.product-info{
    padding:15px;
    min-height: 50px;
    flex-grow: 1;
}
.product-title{
    font-size: 18px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: var(--title-c);
    

}
.product-description{
    margin: 2px;
    font-size: 16px;
    color: #898989;

}
.product-price{
    margin-top: 2px;
    font-size: 15px;
    color: var(--price);
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.product-old-price{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color:var(--old-price);
    text-decoration: line-through;
    margin-left: 15px;
}
.cart-btn {
    background: white;
    color: #9C742A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.col1 button {
    background: #9C742A;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 5px;
}
.col1 button:hover{
    background-color: gray;
}
.icon-group i {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}
 /* show more button */
button{
    background:#9C742A;
    color: white;
    padding: 10px 20px;
   
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover{
    background-color: #3a3a3a;
}
.bento-grid{
    max-width: 100vw;
    margin: auto;
    padding: 10px;
    width: 110vw;
}
.bento-container{
    display: flex;
    align-items: center;
    max-width: 100vw;
    gap: 10px;
    
    
}
.row{
    border-radius: 1em;
    
    gap: 2px;
}
.row-1{
    display: flex;
    flex: 2;
     flex-direction: column;
}
.row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.row-3{
    display: flex;
    flex: 2;
    flex-direction: column;
}
.column1
{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.column2{
    
    display: flex;
    gap: 10px;
    align-items: flex-start;
    gap: 10px;
}

.column3
{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}
.column4{
    
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}


.column1-box1 .photo img {
    aspect-ratio: 3/4;
    width: 350px;
}

.column1-box2 .photo img {
    height: 400px;
}
.column2-box2 .photo img {
    height: 500px;
    max-width: 800px;
}

.column2-box1 .photo img {
    max-height: 1800px;
}

.column4-box1 .photo img{
    max-height: 900px;
}

.column4-box2 .photo img {
    aspect-ratio: 4/3;
    max-width: 700px;
    
}
.photo{
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
.photo > img{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;

}
.col6{
    border-top: 1px solid #ccc ;
    width: 100%;
    background-color: var(--footer-bg);
    padding:20px; 
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    background-color: var(--footer-grid);
    gap: 50px;
}
.footer-left h2{
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}
.footer-left p{
    color: #9f9f9f;
    font-size: 16px;
    margin-top: 10px;
}
.footer-links h3{
    font-weight: bold;
    font-size: 20px;
    color: #9f9f9f;
    margin-bottom: 10px;

}
.footer-links a{
    display: block;
    font-size: 18px;
    color: var(--link-color);
    
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 50px;
    


}
.footer-links a:hover{
    text-decoration: underline;
    color: var(--link-hover);
   
    
}
.newsletter h3{
    color: #9f9f9f;
    font-weight: bold;
    margin-bottom: 10px;
    gap: 20px;

}
.newsletter input{
    width: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;          
}
.newsletter button{
    border: none;
    padding: 8px 12px;
    cursor: pointer;

}
.newsletter button:hover{
    background-color: #666;
}
.footer-bottom{
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 15px;
    text-align: left;
    color: var(--footer-text);
    color: #666;
   

}
#theme-toggle {
    display: none;
}

.theme-toggle-label {
    font-size: 18px;
    cursor: pointer;
    color: var(--text-color);
    margin-left: 15px;
    white-space: nowrap;
}

#theme-toggle:checked ~ .wrapper .container {
    --bg-color: #121212;
    --sidebar-bg: #d6a500;
    --navlinks-bg: white;
    --col1-c: white;
    --price:white;
    --old-price:red;
    --title-c:white;
    --logo-color: #d6a500;
    --text-color: #e0e0e0;
    --header-bg: #1e1e1e;
    --card-bg: #2a2a2a;
    --grid-card-bg: #1e;
    --footer-bg: #1e1e1e;
    --footer-grid: #1e1e1e;
    --footer-text: #999;
    --link-color: #ccc;
    --link-hover: #d6a500;
}

#theme-toggle:checked + .wrapper .container .header .theme-toggle-label i::before {
    content: "\f185"; 
    
}
@media (max-width: 768px) {
    .menu-icon {
        display: none; 
      }
    
}
@media (min-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .col2 {
        flex-wrap: wrap;
    }
    .menu-icon {
        display: block;
    }
}
@media(max-width: 1024px)
{
    .menu-icon{
        display: block;
    }
    .column1,
    .column2,
    .column3,
    .column4 {
        flex: 3;
        flex-direction: column;
    }
    .column1-box1,
    .column1-box2,
    .column2-box1,
    .column2-box2,
    .column3-box1,
    .column3-box2,
    .column4-box1,
    .column4-box2 {
        flex: 3;
    }
    .column1-box1 .photo img {
        columns: 700px; ;
    }
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .nav-links {
        display: none;
    }
    .icons {
        margin-left: auto;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .col2 {
        flex-wrap: wrap;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: left;
    }
    .newsletter input {
        width: 100%;
    }
    .bento-container {
        flex-direction: column;
    }
    .row-1,
    .row-3 {
        flex-direction: row;
    }
    .column1,
    .column2,
    .column3,
    .column4 {
        flex: 1;
        flex-direction: column;
    }
    .column1-box1,
    .column1-box2,
    .column2-box1,
    .column2-box2,
    .column3-box1,
    .column3-box2,
    .column4-box1,
    .column4-box2 {
        flex: 1;
    }
    .column1-box1 .photo img {
        aspect-ratio: 1 / 1;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .product-info {
        flex-wrap: wrap;
        text-align: center;
    }
    .bento-container {
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }
    .row-1,
    .row-3 {
        flex-direction: column;
    }
    .column1,
    .column2,
    .column3,
    .column4 {
        flex-direction: column;
    }
    .column1-box1,
    .column1-box2,
    .column2-box1,
    .column2-box2,
    .column3-box1,
    .column3-box2,
    .column4-box1,
    .column4-box2 {
        margin-bottom: 10px;
    }
    .photo img {
        aspect-ratio: 4 / 3;
    }
}
